[Unit]
Description=PrimeBot
After=syslog.target
After=network.target

[Service]
RestartSec=2s
Type=simple
User=primebot
Group=primebot
WorkingDirectory=/home/primebot/PrimeBot
ExecStart=python3 -Bm primebot
Restart=always

[Install]
WantedBy=multi-user.target
